.signUpBox{
    display: flex;
    justify-content: space-between;
    width: 100%;
    section {width: 50%} 
    &:extend(.baseInputStyle);

}

// .baseInputStyle{
//     background-color: red;
// }


// .ant-form-item-control-input-content{
    
// }


.test{
    // background-color: purple;
    input{background-color: blue;
        width: 209px;
        height: 46px;}
}

.test2{
    input{background-color: red;
        }
}


.ant-input{
    display: flex;
    width: 209px;
    height: 46px;
    color: red;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
}

.ant-btn-primary{
    width: 477px;
    height: 46px;
    background: #C5922C;
    border-radius: 4px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
}