.FAQ {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 449px;
  margin: 0 auto;
  color: #000000;
}

.FAQ h3 {
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
}

.FAQ div h2 {
  font-size: 22px;
  font-weight: bold;
}

.FAQ div p {
  font-size: 22px;
  line-height: 26px;
  font-weight: 300;
}
