.WhoWeServe {
  width: 1440px;
  margin: 0 auto;
  height: 562px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.WhoWeServe p {
  line-height: 19px;
  font-weight: bold;
  font-size: 16px;
  color: #000000;
}
.SubWhoWeServe {
  display: flex;
  justify-content: space-around;
}
.SubWhoWeServe div {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.SubWhoWeServe div img {
  width: 100%;
  margin-bottom: 40px;
}

.SubWhoWeServe div h2 {
  position: absolute;
  bottom: 0;
  font-weight: bold;
  font-size: 22px;
}
