.Main {
  width: 100%;
  height: 100vh;
  background-image: url('../../../../../assets/images/hero.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.Main img {
  width: 100%;
}
