.dashboard {
    background: url("../../../assets/images/BG-Team.png") center center no-repeat;
    background-size: cover;
    height: 638px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dashboard p {
    margin-bottom: 40px;
    width: 488px;
    height: 47px;
    color:#4E4E4E;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
}

.dashboard button {
    width: 456px;
    height: 83px;
    background: #C79100;
    border-radius: 4px;
    color: #FFFFFF;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
}